// SPDX-License-Identifier: GPL-2.0+
//
// Copyright 2013 Freescale Semiconductor, Inc.

/dts-v1/;
#include <dt-bindings/gpio/gpio.h>
#include <dt-bindings/input/input.h>
#include <dt-bindings/sound/fsl-imx-audmux.h>
#include <arm/nxp/imx/imx25.dtsi>

/ {
	model = "Behringer X32 - OpenX32";
	compatible = "fsl,imx25-pdk", "fsl,imx25";

	memory@80000000 {
		device_type = "memory";
		reg = <0x80000000 0x4000000>;
	};

	sound {
		compatible = "simple-audio-card";
		status = "okay";
//		ssi-controller = <&ssi1>;
		simple-audio-card,name = "imx25_soundcard";
		simple-audio-card,format = "i2s";
		simple-audio-card,bitclock-master = <&sound_master>;
		simple-audio-card,frame-master = <&sound_master>;
		
//		mux-int-port = <1>;
//		mux-ext-port = <6>;

		simple-audio-card,routing =
			"LINE_IN", "Audio input",
			"Audio output", "LINE_OUT";

		sound_master: simple-audio-card,cpu {
			sound-dai = <&ssi1>;
		};

		simple-audio-card,codec {
			sound-dai = <&dummy_codec>;
		};

		dummy_codec: codec {
		    compatible = "linux,snd-soc-dummy";
		    #sound-dai-cells = <0>;
		    status = "okay";
		};
	};

	wvga: display {
		model = "Innolux-AT070TN";
		bits-per-pixel = <32>;
		bus-width = <18>;
		fsl,pcr = <0xFC228080>;
		display-timings {
			native-mode = <&wvga_timings>;
			wvga_timings: timing0 {
				hactive = <800>;
				hfront-porch = <210>;
				hback-porch = <52>;
				hsync-len = <1>;
				vactive = <480>;
				vfront-porch = <22>;
				vback-porch = <22>;
				vsync-len = <1>;
				clock-frequency = <40000000>;
				hsync-active = <0>; // asserted when LOW
				vsync-active = <0>; // asserted when LOW
				de-active = <1>; // asserted when HIGH
				pixelclk-active = <1>; // 1 = falling edge
			};
		};
	};

        leds {
		compatible = "gpio-leds";
		pinctrl-names = "default";
		pinctrl-0 = <&pinctrl_gpioleds>;

		mculed {
			label = "mculed";
			gpios = <&gpio4 24 GPIO_ACTIVE_HIGH>;
			linux,default-trigger = "heartbeat";
		};

		lamp {
			label = "lamp";
			gpios = <&gpio1 26 GPIO_ACTIVE_HIGH>;
			default-state = "on";
		};

		reset_fpga {
			label = "reset_fpga";
			gpios = <&gpio1 30 GPIO_ACTIVE_LOW>;
			default-state = "off";
		};

		reset_dsp {
			label = "reset_dsp";
			gpios = <&gpio2 22 GPIO_ACTIVE_LOW>;
			default-state = "off";
		};

		reset_surface {
			label = "reset_surface";
			gpios = <&gpio4 28 GPIO_ACTIVE_LOW>;
			default-state = "off";
		};

		audio_mute {
			label = "audio_mute";
			gpios = <&gpio1 3 GPIO_ACTIVE_LOW>;
			default-state = "off";
		};
        };
};

&esdhc1 {
	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_esdhc1>;
	bus-width = <4>;
        max-frequency = <10000000>;
        non-removable;
	status = "okay";
};

&fec {
	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_fec>;
	phy-mode = "rmii";
	phy-handle = <&ethphy0>;
//	local-mac-address = [02 00 00 00 00 01];
	status = "okay";

	mdio {
		#address-cells = <1>;
		#size-cells = <0>;

		ethphy0: ethernet-phy@0 {
			compatible = "microchip,lan87xx", "ethernet-phy-ieee802.3-c22";
			reg = <0>;
//			max-speed = <100>;
			phy-type = "microchip,lan87xx";
			phy-address = <0>;
			mdio_bus_num = <0>;
			phy-reset-gpios = <&gpio1 1 GPIO_ACTIVE_LOW>;
			phy-reset-duration = <5>;
		};
	};
};

&i2c1 {
	clock-frequency = <100000>;
	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_i2c1>;
	status = "okay";

	isl1208: rtc@6f {
		compatible = "isil,isl1208";
		reg = <0x6f>;
	};
};

&iomuxc {
	imx25-pdk {
		pinctrl_esdhc1: esdhc1grp {
			fsl,pins = <
				MX25_PAD_SD1_CMD__ESDHC1_CMD		0x00010000
				MX25_PAD_SD1_CLK__ESDHC1_CLK		0x00010000
				MX25_PAD_SD1_DATA0__ESDHC1_DAT0		0x00010000
				MX25_PAD_SD1_DATA1__ESDHC1_DAT1		0x00010000
				MX25_PAD_SD1_DATA2__ESDHC1_DAT2		0x00010000
				MX25_PAD_SD1_DATA3__ESDHC1_DAT3		0x00010000
			>;
		};

		pinctrl_fec: fecgrp {
			fsl,pins = <
				MX25_PAD_FEC_MDC__FEC_MDC		0x00000060
				MX25_PAD_FEC_MDIO__FEC_MDIO		0x000001F0
				MX25_PAD_FEC_TDATA0__FEC_TDATA0		0x00000060
				MX25_PAD_FEC_TDATA1__FEC_TDATA1		0x00000060
				MX25_PAD_FEC_TX_EN__FEC_TX_EN		0x00000060
				MX25_PAD_FEC_RDATA0__FEC_RDATA0		0x000000C1
				MX25_PAD_FEC_RDATA1__FEC_RDATA1		0x000000C0
				MX25_PAD_FEC_RX_DV__FEC_RX_DV		0x000000C0
				MX25_PAD_FEC_TX_CLK__FEC_TX_CLK		0x000000C0
				MX25_PAD_UART2_CTS__FEC_RX_ERR		0x000000C0
				MX25_PAD_GPIO_B__GPIO_1_1		0x80000000
			>;
		};

		pinctrl_i2c1: i2c1grp {
			fsl,pins = <
				MX25_PAD_I2C1_CLK__I2C1_CLK		0x80000000
				MX25_PAD_I2C1_DAT__I2C1_DAT		0x80000000
			>;
		};

		pinctrl_lcd: lcdgrp {
			fsl,pins = <
				MX25_PAD_LD0__LD0		0xe0
				MX25_PAD_LD1__LD1		0xe0
				MX25_PAD_LD2__LD2		0xe0
				MX25_PAD_LD3__LD3		0xe0
				MX25_PAD_LD4__LD4		0xe0
				MX25_PAD_LD5__LD5		0xe0
				MX25_PAD_LD6__LD6		0xe0
				MX25_PAD_LD7__LD7		0xe0
				MX25_PAD_LD8__LD8		0xe0
				MX25_PAD_LD9__LD9		0xe0
				MX25_PAD_LD10__LD10		0xe0
				MX25_PAD_LD11__LD11		0xe0
				MX25_PAD_LD12__LD12		0xe0
				MX25_PAD_LD13__LD13		0xe0
				MX25_PAD_LD14__LD14		0xe0
				MX25_PAD_LD15__LD15		0xe0
				MX25_PAD_D15__LD16		0xe0
				MX25_PAD_D14__LD17		0xe0
				MX25_PAD_HSYNC__HSYNC		0xe0
				MX25_PAD_VSYNC__VSYNC		0xe0
				MX25_PAD_LSCLK__LSCLK		0xe0
				MX25_PAD_OE_ACD__OE_ACD		0xe0
				MX25_PAD_CONTRAST__CONTRAST	0xe0
				//MX25_PAD_CONTRAST__PWM4_PWMO
			>;
		};

		pinctrl_uart1: uart1grp {
			fsl,pins = <
				MX25_PAD_UART1_TXD__UART1_TXD	0x80000000
				MX25_PAD_UART1_RXD__UART1_RXD	0xc0
			>;
		};

		pinctrl_uart2: uart2grp {
			fsl,pins = <
				MX25_PAD_UART2_TXD__UART2_TXD   0x80000000
				MX25_PAD_UART2_RXD__UART2_RXD   0xc0
			>;
		};
		
		pinctrl_uart3: uart3grp {
			fsl,pins = <
				MX25_PAD_KPP_ROW1__UART3_TXD    0x80000000
				MX25_PAD_KPP_ROW0__UART3_RXD    0xc0
			>;
		};
		
		pinctrl_uart4: uart4grp {
			fsl,pins = <
				MX25_PAD_KPP_COL1__UART4_TXD    0x80000000
				MX25_PAD_KPP_COL0__UART4_RXD    0xc0
			>;
		};
		
		pinctrl_uart5: uart5grp {
			fsl,pins = <
				MX25_PAD_ECB__UART5_TXD		0x80000000
				MX25_PAD_LBA__UART5_RXD		0xc0
			>;
		};
		
		pinctrl_usbh1_pwr: usbh1_pwr_pins {
			fsl,pins = <
				MX25_PAD_D9__GPIO_4_11		0x80000000
				MX25_PAD_D8__GPIO_4_12		0xc0
			>;
		};

		pinctrl_audmux: audmuxgrp {
			fsl,pins = <
				MX25_PAD_CSI_VSYNC__AUD6_RXD	0xc0		// I2S RxD
				MX25_PAD_CSI_MCLK__AUD6_TXD	0x80000000	// I2S TxD
				MX25_PAD_CSI_HSYNC__AUD6_TXC	0x80000000	// I2S BitClock
				MX25_PAD_CSI_PIXCLK__AUD6_TXFS	0x80000000	// I2S FrameSync
			>;
		};

		pinctrl_spi1: spi1grp {
			fsl,pins = <
				MX25_PAD_CSPI1_MOSI__CSPI1_MOSI	0x80000000      // DSP SPI MOSI
				MX25_PAD_CSPI1_SCLK__CSPI1_SCLK	0x80000000      // DSP SPI SCLK
				MX25_PAD_CSPI1_MISO__CSPI1_MISO	0xc0		// DSP SPI MISO
				MX25_PAD_CSPI1_SS0__GPIO_1_16	0x80000000      // DSP SPI nCS DSP1
				MX25_PAD_CSPI1_SS1__GPIO_1_17	0x80000000      // DSP SPI nCS DSP2
			>;
		};

		pinctrl_spi3: spi3grp {
			fsl,pins = <
				MX25_PAD_CSI_D2__CSPI3_MOSI	0x80000000	// FPGA SPI MOSI
				MX25_PAD_CSI_D4__CSPI3_SCLK	0x80000000	// FPGA SPI SCLK
				MX25_PAD_CSI_D3__CSPI3_MISO	0xc0		// FPGA SPI MISO
				MX25_PAD_CSI_D6__GPIO_1_31	0x80000000	// FPGA nCS0
				MX25_PAD_CSI_D7__GPIO_1_6	0x80000000	// FPGA nCS1
			>;
		};

		pinctrl_gpioleds: gpioledgrp {
			fsl,pins = <
				MX25_PAD_UART1_RTS__GPIO_4_24	0x80000000	// MCU_LED
				MX25_PAD_PWM__GPIO_1_26		0x80000000	// Desk-LAMP
				MX25_PAD_CSI_D5__GPIO_1_30	0x80000000	// FPGA nPROG
				MX25_PAD_CSPI1_RDY__GPIO_2_22	0x80000000      // DSP nRESET
				MX25_PAD_UART2_RTS__GPIO_4_28	0x80000000	// Surface nRESET
				MX25_PAD_GPIO_D__GPIO_1_3	0x80000000	// MUTEOFF
			>;
		};

		pinctrl_gpio1: gpio1grp {
			fsl,pins = <
				//MX25_PAD_CSI_D5__GPIO_1_30	0x80000000	// FPGA nPROG
				MX25_PAD_GPIO_C__GPIO_1_2	0xc0		// FPGA DONE
			>;
		};

		pinctrl_gpio2: gpio2grp {
//                        fsl,pins = <
//				MX25_PAD_CSPI1_RDY__GPIO_2_22	0x80000000      // DSP nRESET
//				MX25_PAD_KPP_ROW0__GPIO_2_29	0xc0		// FPGA nINIT_B
//			>;
		};

		pinctrl_gpio3: gpio3grp {
//			fsl,pins = <
//			>;
		};

		pinctrl_gpio4: gpio4grp {
//			fsl,pins = <
//				MX25_PAD_UART1_RTS__GPIO_4_24	0x80000000	// MCU_LED
//				MX25_PAD_UART2_RTS__GPIO_4_28	0x80000000	// Surface nRESET
//			>;
		};
	};
};

&lcdc {
	display = <&wvga>;
	fsl,lpccr = <0x00a903ff>;
	fsl,lscr1 = <0x00120300>;
	fsl,dmacr = <0x00020010>;
	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_lcd>;
	status = "okay";
};

&nfc {
	nand-on-flash-bbt;
	status = "okay";
};

&ssi1 {
	fsl,mode = "i2s-master";
	status = "okay";
};

#define AUD_PORT_1 0
#define AUD_PORT_6 5
&audmux {
	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_audmux>;
	status = "okay";

	ssi1 {
		fsl,audmux-port = <AUD_PORT_1>;
		fsl,port-config = <
			0x00000000
			IMX_AUDMUX_V2_PDCR_RXDSEL(AUD_PORT_6)
		>;
	};

        port6 {
		fsl,audmux-port = <AUD_PORT_6>;
		fsl,port-config = <
			(IMX_AUDMUX_V2_PTCR_TFSDIR |
			IMX_AUDMUX_V2_PTCR_TFSEL(AUD_PORT_1) |
			IMX_AUDMUX_V2_PTCR_TCLKDIR |
			IMX_AUDMUX_V2_PTCR_TCSEL(AUD_PORT_1))
			IMX_AUDMUX_V2_PDCR_RXDSEL(AUD_PORT_1)
		>;
        };
};

&tsc {
	status = "okay";
};

&tscadc {
	status = "okay";
};

&uart1 {
	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_uart1>;
	status = "okay";
};

&uart2 {
        pinctrl-names = "default";
        pinctrl-0 = <&pinctrl_uart2>;
        status = "okay";
};

&uart3 {
        pinctrl-names = "default";
        pinctrl-0 = <&pinctrl_uart3>;
        status = "okay";
};

&uart4 {
        pinctrl-names = "default";
        pinctrl-0 = <&pinctrl_uart4>;
        status = "okay";
};

&uart5 {
	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_uart5>;
	status = "okay";
};

&gpio1 {
	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_gpio1>;
	status = "okay";
};

&gpio2 {
	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_gpio2>;
	status = "okay";
};

&gpio3 {
	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_gpio3>;
	status = "okay";
};

&gpio4 {
	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_gpio4>;
	status = "okay";
};

&spi1 {
	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_spi1>;
	status = "okay";
	cs-gpios = <&gpio1 16 GPIO_ACTIVE_LOW>, <&gpio1 17 GPIO_ACTIVE_LOW>;
	num-cs = <2>;

	spidev@0 {
		compatible = "rohm,dh2228fv"; // actually spidev
		reg = <0>;
		spi-max-frequency = <50000000>;
	};

	spidev@1 {
		compatible = "rohm,dh2228fv"; // actually spidev
		reg = <1>;
		spi-max-frequency = <50000000>;
	};
};

&spi3 {
	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_spi3>;
	status = "okay";
	cs-gpios = <&gpio1 31 GPIO_ACTIVE_LOW>, <&gpio1 6 GPIO_ACTIVE_LOW>;
	num-cs = <2>;

        spidev@0 {
                compatible = "rohm,dh2228fv"; // actually spidev
                reg = <0>;
                spi-max-frequency = <50000000>;
        };

        spidev@1 {
                compatible = "rohm,dh2228fv"; // actually spidev
                reg = <1>;
                spi-max-frequency = <50000000>;
        };
};

&usbhost1 {
	power-gpios = <&gpio4 11 GPIO_ACTIVE_HIGH>;
	over-current-gpios = <&gpio4 12 GPIO_ACTIVE_LOW>;
	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_usbh1_pwr>;
	status = "okay";
};

&usbotg {
	external-vbus-divider;
	status = "okay";
};